li {
  width: 100%;
  height: 100px;
  background-color: rgb(240,240,240); 
  border-radius: 5px;
  margin-bottom: 5px;
}

li:nth-child(odd) {
  background-color: white;
}

.nombre-jugador {
  font-size: 1.4em;
  font-weight: bold;
}

.dato-jugador {
  font-weight: bold;
}

.par {
  margin-left: 0.5em;
}

.titulo {
  font-weight: 800;
  color: rgb(170, 145, 93);
  text-align: center;
  font-size: xx-large;
}

.titulo-jugadores {
  font-weight: bold;
  color: rgb(170, 145, 93);
  text-align: center;
  font-size: large;
}

.escudo {
  width: 160px;
  height: 160px;
}

.escudo img {
  width: 160px;
  height: 160px;
}

.encabezado {
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.datos {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

p {
  font-weight: bold;
  text-decoration: underline;
}

.foto-goleador img {
  width: 160px;
  height: 160px;
  border: 2px solid rgb(170, 145, 93);
  object-fit: cover;
}

.datos-goleador {
  font-size: 10px;
  background-color: lightgray;
  text-align: center;
  text-decoration: none;
}

.conjunto img {
  width: 170px;
  height: auto;
}

.nombre {
  color: rgb(170, 145, 93);
  text-decoration: none;
}

.jugadores {
  min-height: 800px;
}

.conjunto {
  min-height: 800px;
}


.foto {
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.foto img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: ''; // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, rgb(170, 145, 93), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em; // this is really the only tricky part, you need to specify the background color of the container element...
    color: rgb(170, 145, 93);
    background-color: white;
  }
}

.desvincular {
  margin: 25px;
}

.tarjetas img {
  height: 20px;
  font-weight: 14.81px;
}

.row.jugador {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.seccion-jugadores{
  margin-right:0px;
  padding-right: 0px;
}

.info-jugador span {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  img { height: 15px; width: 15px;}
}