<div class="container-fluid flex-item">
  <div class="row">
    <div class="titulo">{{ equipo.nombre }}</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2 col-sm-2 hidden-sm hidden-xs">
        <div class="row escudo">
          <img [src]="config.imgUrl + escudo" />
        </div>
        <div class="row encabezado">DATOS DEL EQUIPO</div>
        <div class="row datos">
          <p>Entrenador:</p>
          <p class="nombre">{{ getFullName(dt) }}</p>
          <p>Delegado:</p>
          <p class="nombre">{{ getFullName(representante) }}</p>
          <p>Categoría actual:</p>
          <p class="nombre" *ngIf="equipo">{{ equipo.torneo.nombre }}</p>
        </div>
        <div class="row encabezado">GOLEADOR</div>
        <div *ngIf="goleador && goleador.foto" class="row foto-goleador">
          <img [src]="config.imgUrl + goleador.foto.imagePath" />
        </div>
        <div *ngIf="goleador && goleador.goles" class="row" style="margin-top: 10px">
          <p class="datos-goleador">{{ goleador.apellido }}, {{ goleador.nombre }}</p>
          <p class="datos-goleador">{{ goleador.goles?.length }} GOLES</p>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 jugadores">
        <div class="col-md-12 col-sm-12 seccion-jugadores">
          <hr class="hr-text titulo-jugadores" data-content="Jugadores" />

          <div *ngFor="let jugador of lsJugadores">
            <div class="row jugador">
              <div class="foto col-md-4 col-sm-4">
                <img [src]="config.imgUrl + jugador.foto.imagePath" />
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="info-jugador">
                  <div class="nombre-jugador">{{ jugador.apellido }}, {{ jugador.nombre }}</div>
                  <div class="edad">
                    <span class="dato-jugador">Edad: </span>
                    <span class="atrib-jugador"> {{ jugador.edad }} </span>
                  </div>
                  <div class="tarjetas">
                    <img [src]="config.assetsUrl + '/amarilla.png'" />
                    <span class="atrib-jugador">: {{ jugador.acumAmarillas }} </span>
                    <span class="atrib-jugador hidden-sm hidden-xs"> | Sanción Vigente</span>
                    <img [src]="config.assetsUrl + '/roja.png'" />
                    <span class="atrib-jugador" *ngIf="!jugador.tieneUltSancion">: No</span>
                    <span class="atrib-jugador" *ngIf="jugador.tieneUltSancion">: {{ jugador.tieneUltSancion }} </span>
                  </div>
                  <div>
                    <span class="dato-jugador">Goles: </span>
                    <span class="atrib-jugador"> {{ jugador.goles.length }} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-2 conjunto hidden-sm hidden-xs">
        <img [src]="config.imgUrl + camiseta" />
      </div>
    </div>
  </div>
</div>
