.pagina {
  min-width: 100%;
  min-height: 50%;
}

.titulo {
  font-weight: 800;
  color: rgb(170, 145, 93);
  text-align: center;
  font-size: xx-large;
}

.equipos {
  margin: 15px;
  padding: 10px;
}

.equipo img {
  margin-top: 20px;
}

.imagebox {
  padding: 0px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
  width: 180px;
  height: 180px;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  object-fit: scale-down;
}

.imagebox .imagebox-desc {
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  color: rgb(170, 145, 93);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: bold;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
  visibility: hidden;
}

.imagebox:hover img {
  opacity: 0.8;
  width: 180px;
}

.imagebox:hover .imagebox-desc {
  padding-bottom: 10%;
  visibility: visible;
  border-radius: 15px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: ''; // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, rgb(170, 145, 93), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em; // this is really the only tricky part, you need to specify the background color of the container element...
    color: rgb(170, 145, 93);
    background-color: white;
  }
}
