<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeModificacion()">Modificación</a>
  </li>
</ul>
<div class="flex-item">
  <form #equipoForm="ngForm" name="equipoForm">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h4>
          Datos del equipo
        </h4>
        <p class="text-muted">
          Ingrese los datos del Equipo
        </p>
      </div>
      <div class="col-md-8 col-sm-8">
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label for="nombre" class="control-label">Nombre</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input [(ngModel)]="equipo.nombre" name="nombre" required #nombre='ngModel' class="form-control" type="text" required="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Tipo Categoría</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="equipo.categoria" name="categoria" required #categoria='ngModel' class="form-control selectpicker">
                <option value="null">Elija su opción</option>
                <option *ngFor="let categoria of lsCategorias" [ngValue]="categoria">{{categoria.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Categoría</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="equipo.torneo" name="categoria" required #categoria='ngModel' class="form-control selectpicker">
                <option value="null">Elija su opción</option>
                <option *ngFor="let torneo of lsCategoriasTorneo" [ngValue]="torneo">{{torneo.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">

      </div>

      <div class="col-md-3 inexistente">
        <div class="form-group has-feedback">
          <label class="control-label">Club</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="equipo.club" name="club" required #club='ngModel' class="form-control selectpicker">
                <option value="null">Elija su opción</option>
                <option *ngFor="let club of lsClub" [ngValue]="club">{{club.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Descripción</label>
          <textarea [(ngModel)]="equipo.descripcion" name="descripcion" class="form-control" rows="3" placeholder="Utilice este campo para agregar información referida al equipo."
            maxlength="1000"></textarea>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="form-group has-feedback">
              <label class="control-label" for="logo">Seleccione el escudo</label>
              <app-file-upload projectId="GOLDEN" sectionId="ESCUDOS" maxFiles="1" maxSize="2" fileExt="JPG, GIF, PNG" (uploadStatus)="refreshImages('ESCUDOS')"></app-file-upload>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="form-group has-feedback">
              <label class="control-label" for="camiseta">Seleccione camiseta</label>
              <app-file-upload projectId="GOLDEN" sectionId="CAMISETAS" maxFiles="1" maxSize="2" fileExt="JPG, GIF, PNG" (uploadStatus)="refreshImages('CAMISETAS')"></app-file-upload>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="form-group has-feedback">
              <label class="control-label" for="camisetalogo">Seleccione Foto</label>
              <app-file-upload projectId="GOLDEN" sectionId="CAMISETAESCUDO" maxFiles="1" maxSize="2" fileExt="JPG, GIF, PNG" (uploadStatus)="refreshImages('CAMISETAESCUDO')"></app-file-upload>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-center">
            <div class="form-group has-feedback">
              <label class="control-label"></label>
              <img *ngFor="let img of imagesEscudos" [src]="config.imgUrl + img.ThumbPath" class="img-thumbnail" alt="">
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="form-group has-feedback">
              <label class="control-label"></label>
              <img *ngFor="let img of imagesCamisetas" [src]="config.imgUrl + img.ThumbPath" class="img-thumbnail" alt="">
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="form-group has-feedback">
              <label class="control-label"></label>
              <img *ngFor="let img of imagesCE" [src]="config.imgUrl + img.ThumbPath" class="img-thumbnail" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button [disabled]="!equipoForm.valid || (equipo.camiseta == null || equipo.camisetalogo == null || equipo.logo == null)" (click)="registrarEquipo()" type="button" class="btn btn-primary">Registrar</button>
      </div>
    </div>
  </form>
</div>
