#footer-mensaje {
  color: white;
  font-weight: bold;
}

span {
  color: white;
  font-weight: bold;
  margin-left: 5px;
  font-size: 12px;
}

.pie {
  background-color: rgb(41, 41, 41);
  line-height: 2em;
}
