<div class="row">
  <footer class="pie text-center">
    <span> © 2018. Todos los derechos reservados. Politica de privacidad | Terminos & Condiciones by SorCaff Solutions ®
    </span>
  </footer>
</div>