<div class="container">
  <div class="col-sm-12 col-md-12">

    <div class="row foto">
      <div class="col-sm-12 col-md-12">
        <div *ngIf="noticia.file" class="imagebox">
          <img [src]="config.imgUrl + noticia.file.imagePath" class="category-banner img-responsive">
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
    <div class="row">
      <h1>{{noticia.titulo}}</h1>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <share-buttons theme="material-dark" [include]="['facebook','twitter']" size="4" show="2"></share-buttons>

      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="noticia" [innerHTML]="noticia.descripcion">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <label>Temas</label>
          <div class="tags">
            <a class="tags"> {{noticia.tags}}</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="col-md-2 col-sm-12">
            <button type="submit" (click)="editarNoticia()" class="btn btn-primary" *ngIf="esAdmin">Editar noticia</button>
          </div>
          <div class="col-md-2 col-sm-2">
              <button type="submit" (click)="borrarNoticia()" class="btn btn-warning" *ngIf="esAdmin">Borrar noticia</button>
          </div>
        </div>
      </div>

    </div>
  </div>
