<div class="flex-item">
  <form #noticiaForm="ngForm" name="noticiaForm">
    <div class="row">
      <div class="col-md-8 col-sm-8">

        <div class="col-md-12 col-sm-12">
          <div class="row">
            <h4>
              Título
            </h4>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-text-height"></i>
                </span>
                <input [(ngModel)]="noticia.titulo" name="titulo" required #titulo='ngModel' class="form-control" type="text" placeholder="Escriba el titulo de la noticia aquí.">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12">
          <div class="row descripcion">
            <h5>
              Cuerpo
            </h5>
            <ck-editor name="editor1" [(ngModel)]="noticia.descripcion" skin="moono-lisa" lang="es"></ck-editor>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <button type="submit" (click)="registrarNoticia()"  class="btn btn-primary" *ngIf="!esUpdate" [disabled]="!noticiaForm.valid" >Enviar</button>
            <button type="submit" (click)="actualizarNoticia()" class="btn btn-primary" *ngIf="esUpdate"  [disabled]="!noticiaForm.valid" >Guardar</button>
          </div>
          <div class="col-md-2 col-md-offset-7">
            <button class="btn btn-default" (click)="limpiar()">Limpiar</button>
          </div>
        </div>

      </div>


      <div class="col-md-3 col-sm-3 opciones">

        <div class="col-md-12 col-sm-12 ">
          <div class="row">
            <div class="form-group has-feedback">
              <label class="control-label">Categoría(*)</label>
              <div class="inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-list"></i>
                  </span>
                  <select [(ngModel)]="noticia.torneo.nombre" name="torneo" required #torneo='ngModel' class="form-control selectpicker" [disabled]="esGeneral"
                    (ngModelChange)="onTorneoChange($event)">
                    <option value="null">Elija su opción</option>
                    <option *ngFor="let torneo of lsTorneos">{{torneo.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12 col-sm-12">
          <div class="row">
            <div class="form-group has-feedback">
              <label class="control-label">Categoría de la noticia(*)</label>
              <div class="inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-list"></i>
                  </span>
                  <select [(ngModel)]="noticia.categoriaNoticia.descripcion" name="categoriaNoticia" required #categoriaNoticia='ngModel' class="form-control selectpicker"
                    (ngModelChange)="onCategoriaNoticiaChange($event)">
                    <option value="null">Elija su opción</option>
                    <option *ngFor="let categorias of lsCategoriasNoticias">{{categorias.descripcion}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12 col-sm-12">
          <div class="row inexistente">
            <div class="form-group has-feedback">
              <label class="control-label">Club</label>
              <div class="inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-list"></i>
                  </span>
                  <select [(ngModel)]="noticia.club" name="club" #club='ngModel' class="form-control selectpicker">
                    <option value="null">Elija su opción</option>
                    <option *ngFor="let club of lsClubes" [ngValue]="club">{{club.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 text-left">
          <div class="row">
            <div class="form-group has-feedback">
              <label class="control-label" for="logo">Seleccione el thumbnail</label>
              <app-file-upload projectId="GOLDEN" sectionId="NOTICIAS" maxFiles="1" maxSize="2" fileExt="JPG, GIF, PNG, JPEG" (uploadStatus)="refreshImages($event)"></app-file-upload>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="containerr">
                <img *ngFor="let img of images" [src]="config.imgUrl + img.ThumbPath" class="img-thumbnail" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12">
          <div class="row">
            <div class="form-group has-feedback">
              <label for="tags" class="control-label">Etiquetas(*)</label>
              <div class="inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-tags"></i>
                  </span>
                  <input [(ngModel)]="noticia.tags" name="tags" required #tags='ngModel' class="form-control" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12">
          <div class="row">
            <label class="custom-control custom-checkbox">
              <input [(ngModel)]="esGeneral" (change)="noticiaGeneral()" type="checkbox" name="esGeneral">
              <span class="sp-check">Noticia para todas las categorías</span>
            </label>
          </div>
        </div>


      </div>
    </div>

  </form>
</div>
