<div class="container-fluid">
  <div class="row">
    <hr class="hr-text titulo" data-content="FIXTURE">
  </div>
  <div class="row fechas">
    <div class="col-md-12 col-sm-12">
      <button type="submit" (click)="mostrarFixtureFecha(fecha)" id="btnFecha{{i+1}}" class="btn btn-primary" *ngFor="let fecha of lsFechas; let i = index">
        {{i+1}} </button>
    </div>
  </div>

  <div class="row" *ngIf="fechaSeleccionada">
    <div class="row text-center">
      <span class="fecha">FECHA {{numeroFecha}} </span>
      <span class="dia"> {{diaVisual}} </span>
    </div>
    <div *ngIf="lsPartidos && lsPartidos.length" class="col-md-12 col-sm-12 col-xs-12 partido">
      <div *ngFor="let partido of lsPartidos;let i = index">
        <div class="row" [ngClass]="(i%2)?'estiloFixture':''">
          <div class="col-md-12 col-sm-12 col-xs-12 partido">
            <div class="col-md-2 col-sm-2 col-md-offset-3 col-sm-offset-3 col-xs-5">
              <img [src]="config.imgUrl + partido.local.files[0].imagePath">
            </div>

            <div class="col-md-2 col-sm-2 text-center col-xs-2 centro">
              <div class="row">
                <span class="horario"> {{partido.horario.inicio}} hs</span>
              </div>
              <div class="row">
                <span class="cancha"> {{partido.cancha.nombre}} </span>
              </div>
              <div>
                <h3>VS</h3>
              </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-5">
              <img [src]="config.imgUrl + partido.visitante.files[0].imagePath">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
