button {
  margin: 20px 5px 20px 5px;
  background-color: rgb(41, 41, 41);
  color: rgb(170, 145, 93);
  font-weight: bold;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

button:hover {
  background-color: rgb(35, 35, 35);
  color: rgb(170, 145, 93);
  font-weight: bolder;
}

button:focus {
  background-color: rgb(170, 145, 93);
  color: rgb(35, 35, 35);
  font-weight: bolder;
}

.button,
button,
.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
  border: none !important;
  outline: none !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: ''; // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, rgb(170, 145, 93), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em; // this is really the only tricky part, you need to specify the background color of the container element...
    color: rgb(170, 145, 93);
    background-color: white;
  }
}

.titulo {
  font-weight: 800;
  color: rgb(170, 145, 93);
  text-align: center;
  font-size: xx-large;
}

span.cancha {
  font-size: 17px;
}

span.horario {
  font-size: 22px;
}

.centro {
  margin-top: 25px;
}

span.fecha {
  font-size: x-large;
  font-weight: bold;
}

span.dia {
  font-size: x-large;
}

h3 {
  font-size: xx-large;
  font-weight: 900;
}

.estiloFixture {
   background-color: rgb(240,240,240); 
}

.partido {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

img {
  height: 180px;
  width: 180px;
}

@media screen and (max-width: 768px) {
  span.cancha {font-size: 12px;}
  span.horario {font-size: 12px; }
  span.fecha { font-size: small; font-weight: bold; margin-bottom: 5px;}
  span.dia { font-size: small; margin-bottom: 5px;}
  h3 { font-size: x-large; font-weight: 900; margin-top: 0px;}
  img { height: 100px; width: 100px;}
  .centro { margin-top: 10px;}
}