#container {
  width: 100%;
  margin: 1em auto;
  padding: 0;
  background: rgba(255, 255, 255, 0);
}

.items {
  max-width: 41px;
  height: 40px;
  width: 40px;
  background: rgba(236, 236, 236, 0);
}

#logo {
  margin-bottom: -50px;
  margin-left: -10px;
  padding: 0;
  z-index: 8 !important;
  position: relative;
}

img{
  cursor: pointer;
}