<div class="row hidden-sm hidden-xs">
  <img id="logo" [src]="config.assetsUrl + '/logos/Logo TG 2019 chico.png'" height="160" width="160" (click)="noticias_Click()">
</div>
<div class="row">
  <menu style="margin-bottom: 0px;padding:0px;"></menu>
</div>
