<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeModificacion()">Modificación</a>
  </li>
</ul>
<div class="flex-item">
  <form #torneoForm="ngForm" name="torneoForm">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <h4>Categorías</h4>
        <div class="form-group has-feedback">
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="torneo" name="torneo" required (change)="onChange(torneo)" class="form-control">
                <option value=" ">Elija su opción</option>
                <option *ngFor="let torneo of lsTorneos" [ngValue]="torneo">{{torneo.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Tipo Torneo (*)</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [ngModel]="torneo.tipoTorneo.descripcion" name="tipoTorneo" (ngModelChange)="onTtorneoChange($event)" required class="form-control selectpicker">
                <option value=" ">Elija su opción</option>
                <option *ngFor="let tipoTorneo of lsTipos">{{tipoTorneo.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Reglas (*)</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [ngModel]="torneo.regla.descripcion" name="regla" (ngModelChange)="onReglaChange($event)" required class="form-control">
                <option value="null">Elija su opción</option>
                <option *ngFor="let regla of lsReglas">{{regla.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Modalidad (*)</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [ngModel]="torneo.modalidad.descripcion" name="modalidad" (ngModelChange)="onModalidadChange($event)" required class="form-control">
                <option value="null">Elija su opción</option>
                <option *ngFor="let modalidad of lsModalidades">{{modalidad.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Categoria (*)</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [ngModel]="torneo.categoria.descripcion" name="categoria" (ngModelChange)="onCategoriaChange($event)" required
                class="form-control">
                <option value="null">Elija su opción</option>
                <option *ngFor="let categoria of lsCategorias">{{categoria.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Nombre</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input [(ngModel)]="torneo.nombre" name="nombre" class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Descripción</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input [(ngModel)]="torneo.descripcion" name="descripcion" class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Fecha Inicio</label>
          <div class="inputGroupContainer">
            <div class="input-group date">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
              <input [ngModel]="torneo.fecha_inicio | date:'yyyy-MM-dd'" (ngModelChange)="torneo.fecha_inicio = $event" type="date" name="torneo.fecha_inicio"
                class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Fecha Fin</label>
          <div class="inputGroupContainer">
            <div class="input-group date">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
              <input [ngModel]="torneo.fecha_fin | date:'yyyy-MM-dd'" (ngModelChange)="torneo.fecha_fin = $event" type="date" name="torneo.fecha_fin"
                class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-5 ">
        <div class="form-group has-feedback ">
          <label class="control-label ">
            <b>Equipos</b>
          </label>
          <angular2-multiselect [data]="itemList " [(ngModel)]="selectedItems " [ngModelOptions]="{standalone: true}
              " [settings]="settings " (onSelect)="onItemSelect($event) " (onDeSelect)="OnItemDeSelect($event) " (onSelectAll)="onSelectAll($event)
              " (onDeSelectAll)="onDeSelectAll($event) ">
          </angular2-multiselect>
        </div>
      </div>
      <div class="col-md-7 ">
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 ">
        <button (click)="actualizarTorneo()" [disabled]="!torneoForm.valid" type="button " class="btn btn-primary ">Modificar</button>
      </div>
    </div>
  </form>
</div>
