<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeModificacion()">Modificación</a>
  </li>
</ul>
<div class="flex-item">
  <form #torneoForm="ngForm" name="torneoForm">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h4>
          Datos Categoría
        </h4>
        <p class="text-muted">
          Ingrese los datos de la Categoría
        </p>
      </div>
      <div class="col-md-8 col-sm-8">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Tipo Torneo (*)</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="torneo.tipoTorneo" name="tipoTorneo" required #tipo_torneo='ngModel' class="form-control selectpicker">
                <option value="null">Elija su opción</option>
                <option *ngFor="let tipo of lsTipos" [ngValue]="tipo">{{tipo.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Reglas (*)</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="torneo.regla" name="regla" required #regla_torneo='ngModel' class="form-control selectpicker">
                <option value="null">Elija su opción</option>
                <option *ngFor="let regla of lsReglas" [ngValue]="regla">{{regla.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Modalidad (*)</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="torneo.modalidad" name="modalidad" required #modalidad='ngModel' class="form-control selectpicker">
                <option value="null">Elija su opción</option>
                <option *ngFor="let modalidad of lsModalidades" [ngValue]="modalidad">{{modalidad.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Categoria (*)</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="torneo.categoria" name="categoria" required #categoria='ngModel' class="form-control selectpicker">
                <option value="null">Elija su opción</option>
                <option *ngFor="let categoria of lsCategorias" [ngValue]="categoria">{{categoria.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Nombre</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input [(ngModel)]="torneo.nombre" name="nombre" required class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Descripción</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input [(ngModel)]="torneo.descripcion" name="descripcion" class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Fecha Inicio</label>
          <div class="inputGroupContainer">
            <div class="input-group date">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
              <input [(ngModel)]="torneo.fecha_inicio" name="fecha_inicio" required type='text' class="form-control" type="date" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="control-label">Fecha Fin</label>
          <div class="inputGroupContainer">
            <div class="input-group date">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
              <input [(ngModel)]="torneo.fecha_fin" name="fecha_fin" required class="form-control" type="date" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group has-feedback">
          <label class="control-label">
            <b>Equipos</b>
          </label>
          <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}" [settings]="settings"
            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
          </angular2-multiselect>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button (click)="registrarTorneo()" [disabled]="!torneoForm.valid" type="button" class="btn btn-primary">Registrar</button>
      </div>
    </div>
  </form>
</div>