<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeModificacion()">Modificación</a>
  </li>
</ul>
<div class="flex-item">
  <form #jugadorForm="ngForm" name="jugadorForm">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <h4>Equipo</h4>
            <div class="form-group has-feedback">
              <div class="inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-list"></i>
                  </span>
                  <select [(ngModel)]="jugador.equipo.nombre" name="equipo" required class="form-control" [disabled]="esRepresentante" (ngModelChange)="onEquipoChange($event)">
                    <option value="null">Elija su opción</option>
                    <option *ngFor="let equipo of lsEquipos">{{equipo.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <h5>Rol</h5>
            <input type="radio" name="rol" [checked]="reinicioForm" [(ngModel)]="jugador.rol" value="jugador"> Jugador
            <br>
            <input type="radio" name="rol" [(ngModel)]="jugador.rol" value="director_tecnico"> Director técnico
            <br>
            <input type="radio" name="rol" [(ngModel)]="jugador.rol" value="representante"> Representante
          </div>
          <div class="col-md-2 text-center col-sm-2">
            <div class="form-group has-feedback">
              <label class="control-label" for="logo">Seleccione su foto</label>
              <app-file-upload projectId="GOLDEN" sectionId="JUGADORES" maxFiles="1" maxSize="2" fileExt="JPG, GIF, PNG, JPEG" (uploadStatus)="refreshImages($event)"
                [disabled]=esJugadorBD></app-file-upload>
              <p class="text-muted aclaracion">
                Se recomiendan fotos en
                <br> formato cuadrado para
                <br> mejor visualización.
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="form-group has-feedback">
              <label class="control-label"></label>
              <img *ngFor="let img of images" [src]="config.imgUrl + img.ThumbPath" class="img-thumbnail" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h4>
              Datos Personales
            </h4>
            <p class="text-muted">
              Ingrese los datos personales del jugador
            </p>
          </div>
          <div class="col-md-8 col-sm-8">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="form-group has-feedback">
                  <label class="control-label">Documento (*)</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input [(ngModel)]="jugador.nroDocumento" name="nroDoc" required #nroDoc='ngModel' class="form-control" type="number" (blur)="consultarDatosjugador()">
                    </div>
                    <div *ngIf="nroDoc.errors && (nroDoc.dirty || nroDoc.touched)" class="error">
                      <span class="label label-danger" id="error_Requerido">Campo requerido</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="form-group has-feedback">
                  <label class="control-label">Tipo Documento (*)</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-list"></i>
                      </span>
                      <select [ngModel]="jugador.tipoDocumento.descripcion" name="tipoDoc" required class="form-control selectpicker" (ngModelChange)="onTipoDocumentoChange($event)"
                        [disabled]="esJugadorBD" *ngIf="!existejugador">
                        <option value="null">Elija su opción</option>
                        <option *ngFor="let tipoDocumento of lsTiposDocumento">{{tipoDocumento.descripcion}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="form-group has-feedback">
                  <label for="nombre" class="control-label">Nombre (*)</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input [(ngModel)]="jugador.nombre" name="nombre" required #nombre='ngModel' class="form-control" type="text" required=""
                        [disabled]="esJugadorBD">
                    </div>
                    <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" class="error">
                      <span class="label label-danger" id="error_Requerido">Campo requerido</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="form-group has-feedback">
                  <label class="control-label">Apellido (*)</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input [(ngModel)]="jugador.apellido" name="apellido" required #apellido='ngModel' class="form-control" type="text" [disabled]="esJugadorBD">
                    </div>
                    <div *ngIf="apellido.errors && (apellido.dirty || apellido.touched)" class="error">
                      <span class="label label-danger" id="error_Requerido">Campo requerido</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 col-sm-1">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <label class="control-label">Fecha de Nacimiento (*)</label>
                <div class="inputGroupContainer">
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker'>
                      <input [ngModel]="jugador.fecha_nacimiento" (ngModelChange)="jugador.fecha_nacimiento = $event" min="1950-01-01" name="fecha"
                        required type='date' class="form-control" *ngIf="!existejugador" [disabled]="esJugadorBD" (blur)="calcularEdad()"
                      />
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="form-group has-feedback">
                  <label class="control-label">Edad</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input [(ngModel)]="jugador.edad" name="edad" required #edad='ngModel' class="form-control" type="number" disabled>
                    </div>
                    <div *ngIf="edad.errors && (edad.dirty || edad.touched)" class="error">
                      <span class="label label-danger" id="error_Requerido">Campo requerido</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="form-group has-feedback">
                  <label class="control-label">Ocupacion</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-briefcase"></i>
                      </span>
                      <input [(ngModel)]="jugador.ocupacion" name="ocupacion" #ocupacion='ngModel' class="form-control" type="text" [disabled]="esJugadorBD">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4"></div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 15px">
          <div class="col-md-8 col-sm-8">
            <h4>
              Datos de Domicilio
            </h4>
            <p class="text-muted">
              Ingrese los datos de domicilio del jugador
            </p>
          </div>
          <div class="col-md-4 col-sm-4">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="form-group has-feedback">
                  <label class="control-label">Calle (*)</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-home"></i>
                      </span>
                      <input [(ngModel)]="jugador.domicilio.calle" name="calle" required #calle='ngModel' class="form-control" type="text" [disabled]="esJugadorBD">
                    </div>
                    <div *ngIf="calle.errors && (calle.dirty || calle.touched)" class="error">
                      <span class="label label-danger" id="error_Requerido">Campo requerido</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="form-group has-feedback">
                  <label class="control-label">Numeracion (*)</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-home"></i>
                      </span>
                      <input [(ngModel)]="jugador.domicilio.numeracion" name="numeracion" required #numeracion='ngModel' class="form-control" type="number"
                        [disabled]="esJugadorBD">
                    </div>
                    <div *ngIf="numeracion.errors && (numeracion.dirty || numeracion.touched)" class="error">
                      <span class="label label-danger" id="error_Requerido">Campo requerido</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 col-sm-1">
                <div class="form-group has-feedback">
                  <label class="control-label">Piso</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <!--<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>-->
                      <input [(ngModel)]="jugador.domicilio.piso" name="piso" #piso='ngModel' class="form-control" type="text" [disabled]="esJugadorBD">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 col-sm-1">
                <div class="form-group has-feedback">
                  <label class="control-label">Dpto</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <!--<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>-->
                      <input [(ngModel)]="jugador.domicilio.dpto" name="dpto" #dpto='ngModel' class="form-control" type="text" [disabled]="esJugadorBD">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 col-sm-1">
                <div class="form-group has-feedback">
                  <label class="control-label">Torre</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <!--<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>-->
                      <input [(ngModel)]="jugador.domicilio.torre" name="torre" #torre='ngModel' class="form-control" type="text" [disabled]="esJugadorBD">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="form-group has-feedback">
                  <label class="control-label">Provincia (*)</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-list"></i>
                      </span>
                      <select [(ngModel)]="jugador.domicilio.provincia.n_provincia" name="provincia" required class="form-control selectpicker"
                        required (ngModelChange)="provincia_onChanged($event)" [disabled]="esJugadorBD" *ngIf="!existejugador">
                        <option value="null">Elija su opción</option>
                        <option *ngFor="let prov of lsProvincias">{{prov.n_provincia}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="form-group has-feedback">
                  <label class="control-label">Departamento (*)</label>
                  <div class="inputGroupContainer">
                    <div class="input-group" *ngIf="!esJugadorBD">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-list"></i>
                      </span>
                      <select [(ngModel)]="localidadSeleccionada" (change)="onLocalidadChange(localidadSeleccionada)" #localidad='ngModel' name="localidad"
                        required class="form-control selectpicker" *ngIf="!existejugador">
                        <option value="null">Elija su opción</option>
                        <option *ngFor="let localidad of lsLocalidades">{{localidad.n_localidad}}</option>
                      </select>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-primary" *ngIf="!existejugador" (click)="agregarLocalidad()">+</button>
                      </div>
                    </div>
                    <div class="input-group" *ngIf="esJugadorBD">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-home"></i>
                      </span>
                      <input [(ngModel)]="jugador.domicilio.provincia.lsLocalidades[0].n_localidad" name="localidad" #localidad='ngModel' class="form-control"
                        type="text" [disabled]="esJugadorBD">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="form-group has-feedback">
                  <label class="control-label">Barrio</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-home"></i>
                      </span>
                      <input [(ngModel)]="jugador.domicilio.barrio" name="barrio" #barrio='ngModel' class="form-control" type="text" [disabled]="esJugadorBD">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 col-sm-1">
              </div>
              <div class="col-md-7 col-sm-7">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="form-group has-feedback">
                  <label class="control-label">Observaciones</label>
                  <textarea [(ngModel)]="jugador.domicilio.observaciones" name="observaciones" class="form-control" rows="3" placeholder="Utilice este campo para agregar informacion referida al domicilio"
                    maxlength="1000" [disabled]="esJugadorBD"></textarea>
                </div>
              </div>
              <div class="col-md-7 col-sm-7">
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 15px">
          <div class="col-md-8 col-sm-8">
            <h4>
              Datos de Contacto
            </h4>
            <p class="text-muted">
              Ingrese los datos de contacto del jugador
            </p>
          </div>
          <div class="col-md-4 col-sm-4">
          </div>
        </div>
        <div class="row">

          <div class="col-md-3 col-sm-3">
            <div class="form-group has-feedback">
              <label class="control-label">Correo Electronico (*)</label>
              <div class="inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                  </span>
                  <input [(ngModel)]="jugador.contacto.email" name="email" required #email='ngModel' class="form-control" type="email" [disabled]="esJugadorBD">
                </div>
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="error">
                  <span class="label label-danger" id="error_Requerido">Campo requerido</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="form-group has-feedback">
              <label class="control-label">Telefono Celular (*)</label>
              <div class="inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon-earphone"></i>
                  </span>
                  <input [(ngModel)]="jugador.contacto.telefono_movil" name="telefono_movil" required #telefono_movil='ngModel' class="form-control"
                    type="text" [disabled]="esJugadorBD">
                </div>
                <div *ngIf="telefono_movil.errors && (telefono_movil.dirty || telefono_movil.touched)" class="error">
                  <span class="label label-danger" id="error_Requerido">Campo requerido</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="form-group has-feedback">
              <label class="control-label">Telefono Fijo</label>
              <div class="inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon-earphone"></i>
                  </span>
                  <input [(ngModel)]="jugador.contacto.telefono_fijo" name="telefono_fijo" #telefono_fijo='ngModel' class="form-control" type="text"
                    [disabled]="esJugadorBD">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
        <button type="submit" [disabled]="!jugadorForm.valid || jugador.idFoto == null" (click)="registrarJugador()" class="btn btn-primary">Registrar</button>
        <button class="btn btn-default" (click)="limpiar()">Limpiar</button>
      </div>
    </div>
  </form>
</div>
