<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeModificacion()">Modificación</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeCambioFecha()">Cambio Fecha</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeInterzonal()">Interzonal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeCambioFechaInterzonal()">Cambio Fecha Interzonal</a>
  </li>
  <li *ngIf="idFase == 3" class="nav-item">
    <a class="nav-link" (click)="routePlayoffFixture()">Playoff</a>
  </li>
  <li *ngIf="idFase == 3" class="nav-item">
    <a class="nav-link" (click)="routePlayoffFixtureUpdate()">Modificación Playoff</a>
  </li>
</ul>
<div class="row">
  <div class="col-md-3 col-sm-3">
    <div class="form-group has-feedback">
      <label class="control-label">Zona</label>
      <div class="inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-list"></i>
          </span>
          <select [(ngModel)]="zona" name="zona" required class="form-control selectpicker" (ngModelChange)="fechasPorZona(zona)">
            <option value="null">Elija su opción</option>
            <option *ngFor="let zonas of lsZonas" [ngValue]="zonas">{{zonas.descripcion}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="form-group has-feedback">
      <label class="control-label">Fechas</label>
      <div class="inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-list"></i>
          </span>
          <select [(ngModel)]="fecha" (change)="cambioFecha(fecha)" name="fechas" required class="form-control" required=''>
            <option value=" ">Elija su opción</option>
            <option *ngFor="let fecha of lsFechas" [ngValue]="fecha">{{fecha.fecha | date:'dd-MM-yyyy'}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-3">
    <div class="form-group has-feedback">
      <label class="control-label">Fecha</label>
      <div class="inputGroupContainer">
        <div class="input-group date">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
          <input [ngModel]="nuevaFecha.fecha | date:'yyyy-MM-dd'" (ngModelChange)="comparacionFechasFixture($event)" name="nuevaFecha"
            class="form-control" type="date" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <button (click)="modificarFecha()" [disabled]="!habilitarBoton" type="button" class="btn btn-primary">Modificar</button>
  </div>
</div>
