<div class="montserrat-font">
  <ngx-section class="shadow">
    <div>
      <div class="row" *ngFor="let partido of partidos">
        <div>
          <hr class="hr-text textTitle" data-content="Partido">
        </div>
        <div class="enfrentamiento">
          <div class="col-md-3 col-sm-3">
            <div class="textEquipo"> Local</div>
            <ngx-dnd-container [model]="partido.local" dropZone="multiple-target-a" [moves]="false" [copy]="false" [dropZones]="['multiple-target-b','multiple-equipos', 'multiple-target-a']"
              [removeOnSpill]="true">
              <ng-template let-item="model">
                <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
                <div class="row">{{item.nombre}} </div>
              </ng-template>
            </ngx-dnd-container>
          </div>
          <div class="col-md-1 col-sm-1 random">
            <span>VS</span>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="textEquipo">Visitante</div>
            <ngx-dnd-container [model]="partido.visitante" dropZone="multiple-target-b" [moves]="false" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-equipos']"
              [removeOnSpill]="true">
              <ng-template let-item="model">
                <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
                <div class="row">{{item.nombre}} </div>
              </ng-template>
            </ngx-dnd-container>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <div class="form-group has-feedback">
                  <label class="control-label">Horario</label>
                  <div class="inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
                      <input name="horario" [disabled]="true" class=" form-control" type="text" value="{{partido.horario.inicio}}-{{partido.horario.fin}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-md-8 col-sm-8 ">
                <div class="form-group has-feedback ">
                  <label class="control-label ">Cancha</label>
                  <div class="inputGroupContainer ">
                    <div class="input-group ">
                      <span class="input-group-addon ">
                <i class="glyphicon glyphicon-list "></i>
              </span>
                      <input [(ngModel)]="partido.cancha.nombre" name="cancha" [disabled]="true" class="form-control" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 ">
          </div>
        </div>
      </div>
    </div>
    <div class="row centrado">
      <span>Ya existe un partido en los horarios y cancha elegidos. Intente con otro horario.</span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button (click)="dialogRef.close(true)" type="button" class="btn btn-primary">Salir</button>
      </div>
    </div>

  </ngx-section>
</div>
