.imagebox {
  background: black;
  padding: 0px;
  position: relative;
  text-align: left;
  width: 100%;
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
  width: 100%;
  object-fit: cover;
}

.imageboxSecundaria {
  background: black;
  padding: 0px;
  position: relative;
  width: 100%;
}

.imageboxSecundaria img {
  opacity: 1;
  transition: 0.5s opacity;
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.imagebox .imagebox-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: left;
  width: 100%;
}

.imageboxSecundaria .imagebox-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: left;
  width: 100%;
}

.imagebox:hover img {
  opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
  padding-bottom: 5%;
}

.imageboxSecundaria:hover img {
  opacity: 0.7;
}

.imageboxSecundaria:hover .imagebox-desc {
  padding-bottom: 10%;
}

.principal {
  overflow: hidden;
  margin: 1em 0.25em 1em 0.25em;
  padding: 0;
}

.secundaria {
  overflow: hidden;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

div {
  display: block;
}

h2 {
  font-weight: bold;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.cont-imagen-noticia-historica {
  padding-left: 0px;
  margin-left: 0px;
}

.noticia-historica img {
  width: 117px;
  height: 70px;
  margin-bottom: 14px;
  cursor: pointer;
  object-fit: contain;
  background: black;
}

.noticia-historica-texto {
  padding-right: 5px;
}

a {
  font-size: 0.85em;
  text-align: left;
  color: black;
  line-height: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.datos-noticia {
  color: #666;
  font-size: 0.75em;
  line-height: 1.2em;
  margin-top: 5px;
}

.sponsors-primarios img {
  width: 340px;
  height: 250px;
  margin: 0px 0px 15px 10px;
}

.sponsor-secundario img {
  width: 250px;
  height: 180px;
  padding: 0px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}
