<div class="container-fluid">

  <div class="principal">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="imagebox" *ngIf="noticiaPrincipal">
          <a (click)="verNoticia(noticiaPrincipal.idNoticia)">
            <img [src]="url + noticiaPrincipal.file.imagePath" class="category-banner img-responsive">
            <span class="imagebox-desc">{{noticiaPrincipal.titulo}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12" style="margin: 0px; padding: 0px;">
    <div class="secundaria">
      <div class="row">
        <div class="col-sm-4 col-md-4" style="padding-right: 0px;" *ngFor="let noticia of lsNoticiasSecundarias">
          <div class="imageboxSecundaria">
            <a (click)="verNoticia(noticia.idNoticia)">
              <img [src]="url + noticia.file.imagePath" class="category-banner img-responsive">
              <span class="imagebox-desc">{{noticia.titulo}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="col-md-4 col-sm-4 historico-noticias">
        <div class="row">
          <h2>Otras noticias</h2>
        </div>

        <li *ngFor="let noticia of lsNoticiasHistoricas">
          <div class="row noticia-historica">
            <div class="col-md-4 col-sm-4 cont-imagen-noticia-historica">
              <img [src]="url + noticia.file.imagePath" class="category-banner img-responsive" (click)="verNoticia(noticia.idNoticia)">
            </div>
            <div class="col-md-8 col-sm-8 noticia-historica-texto">
              <div class="titulo">
                <a (click)="verNoticia(noticia.idNoticia)">{{noticia.titulo}}</a>
              </div>
              <div class="datos-noticia">{{noticia.fecha_noticia | date:'dd MMM yyyy'}}</div>
            </div>
          </div>
        </li>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="row">
          <a class="twitter-timeline" data-width="350" data-height="545" href="https://twitter.com/TorneoGolden?ref_src=twsrc%5Etfw">Tweets by TorneoGolden</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 sponsors-primarios">
        <div class="row">
          <a href="http://www.cerveceriaymalteriaquilmes.com/" target="_blank">
            <img [src]="config.assetsUrl + '/coca.jpg'" class="category-banner img-responsive">
          </a>
        </div>
        <div class="row">
          <a href="http://www.gatorade.com/" target="_blank">
            <img [src]="config.assetsUrl + '/branca.jpg'" class="category-banner img-responsive">
          </a>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3 sponsor-secundario">
          <a href="https://www.ifksports.com/" target="_blank">
            <img [src]="config.assetsUrl + '/ifk.jpg'" class="category-banner img-responsive">
          </a>
        </div>
        <div class="col-md-3 col-sm-3 sponsor-secundario">
          <a>
            <img [src]="config.assetsUrl + '/bonaqua.jpg'" class="category-banner img-responsive">
          </a>
        </div>
        <div class="col-md-3 col-sm-3 sponsor-secundario" target="_blank">
          <a>
            <img [src]="config.assetsUrl + '/sernova.jpg'" class="category-banner img-responsive">
          </a>
        </div>
        <div class="col-md-3 col-sm-3 sponsor-secundario" target="_blank">
          <a>
            <img [src]="config.assetsUrl + '/powerade.jpg'" class="category-banner img-responsive">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
