.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: ''; // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, rgb(170, 145, 93), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em; // this is really the only tricky part, you need to specify the background color of the container element...
    color: rgb(170, 145, 93);
    background-color: white;
  }
}

.hr-text.general {
  font-weight: 800;
  color: rgb(170, 145, 93);
  text-align: center;
  font-size: xx-large;
}

td img {
  width: 32px;
  height: 32px;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  object-fit: scale-down;
  margin: 0px;
}

th {
  font-weight: 500;
}

.table.general {
  padding: 15px;
  max-width: 100%;
  white-space: nowrap;
}

thead th {
  font-weight: bold;
}