<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <hr class="hr-text general" data-content="GOLEADORES">
      <div class="table-responsive">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-8">
          <table class="table table-striped table-hover general">
            <thead>
              <tr class="cabeza-tabla">
                <th>POS</th>
                <th></th>
                <th>EQUIPO</th>
                <th>JUGADOR</th>
                <th>GOLES</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let goleador of lsGoleadores; let i = index">
                <td>
                  {{i + 1}}
                </td>
                <td>
                  <img [src]="config.imgUrl + goleador.equipo.files[0].imagePath">
                </td>
                <td>{{ goleador.equipo.nombre }}</td>
                <td>
                  <p> {{ goleador.jugador.apellido }}, {{goleador.jugador.nombre}} </p>
                </td>
                <td>{{ goleador.cantidadGoles }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
