<div class="container-fluid">
  <div class="row" *ngIf="idFase == 1">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <hr class="hr-text general" data-content="TABLA GENERAL" />
      <div class="table-responsive">
        <table class="table table-striped table-hover general">
          <thead>
            <tr>
              <th>POS</th>
              <th></th>
              <th>EQUIPO</th>
              <th>PTS</th>
              <th>PJ</th>
              <th>PG</th>
              <th>PE</th>
              <th>PP</th>
              <th>GF</th>
              <th>GC</th>
              <th>DG</th>
              <th>FP</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let posicion of lsPosiciones; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <img
                  [src]="config.imgUrl + posicion.equipo.files[0].imagePath"
                />
              </td>
              <td>{{ posicion.equipo.nombre }}</td>
              <td>{{ posicion.puntos }}</td>
              <td>{{ posicion.partidosJugados }}</td>
              <td>{{ posicion.partidosGanados }}</td>
              <td>{{ posicion.partidosEmpatados }}</td>
              <td>{{ posicion.partidosPerdidos }}</td>
              <td>{{ posicion.golesFavor }}</td>
              <td>{{ posicion.golesContra }}</td>
              <td>{{ posicion.difGol }}</td>
              <td>{{ posicion.fairPlay }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngFor="let sancion of lsSanciones">
        <p class="text-muted">
          (*)Se quitó {{ sancion.puntosRestados }} punto/s al equipo
          {{ sancion.equipo.nombre }} y se sumaron
          {{ sancion.fairPlay }} puntos de fairplay Motivo:
          {{ sancion.descripcion }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngIf="idFase != 1">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <hr class="hr-text general" data-content="POSICIONES POR ZONA" />
      <div
        class="col-md-6 col-sm-6 col-xs-12"
        *ngFor="let posicionesZona of lsPosicionesZona; let j = index"
      >
        <div class="table-responsive">
          <div class="titulo_zona text-center">
            <h4>ZONA {{ posicionesZona[j].zona.descripcion }}</h4>
          </div>
          <table class="table table-striped table-hover general">
            <thead>
              <tr>
                <th></th>
                <th>POS</th>
                <th>EQUIPO</th>
                <th>PTS</th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GF</th>
                <th>GC</th>
                <th>DG</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let posicion of posicionesZona; let i = index">
                <td>
                  <img
                    [src]="config.imgUrl + posicion.equipo.files[0].imagePath"
                  />
                </td>
                <td>{{ i + 1 }}</td>
                <td class="nombre-equipo">{{ posicion.equipo.nombre }}</td>
                <td>{{ posicion.puntos }}</td>
                <td>{{ posicion.partidosJugados }}</td>
                <td>{{ posicion.partidosGanados }}</td>
                <td>{{ posicion.partidosEmpatados }}</td>
                <td>{{ posicion.partidosPerdidos }}</td>
                <td>{{ posicion.golesFavor }}</td>
                <td>{{ posicion.golesContra }}</td>
                <td>{{ posicion.difGol }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div *ngFor="let sancion of lsSanciones">
          <p class="text-muted">
            (*)Se quitó {{ sancion.puntosRestados }} punto/s y se sumaron
            {{ sancion.fairPlay }} puntos de fairplay al equipo
            {{ sancion.equipo.nombre }} de la zona
            {{ sancion.zona.descripcion }}: {{ sancion.descripcion }}.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
