<div class="visualizar">
  <div class="row">
    <div *ngFor="let zona of zonas" fxFlex="100%">
      <div class="row">
        <hr
          class="hr-text textTitle"
          data-content="Zona {{ zona.descripcion }}"
        />
        <div class="row">
          <div class="col-md-12">
            <div *ngFor="let equipo of zona.equipos">
              <div class="col-md-3 col-xs-3">
                <img
                  [src]="config.imgUrl + equipo.files[0].imagePath"
                  class="img-thumbnail"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center" *ngIf="dibujarMensaje">
        <br />
        <br />
        <br />
        <font>Las zonas aún no fueron creadas.</font>
      </div>
      <div class="row text-center" *ngIf="mensajePlayoffActivo">
        <br />
        <br />
        <br />
        <font
          >Las zonas no están creadas. El torneo se encuentra en etapa
          Playoff.</font
        >
      </div>
    </div>
  </div>
</div>
