<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <hr class="hr-text titulo" data-content="REGLAMENTO">
    </div>
  </div>

  <div class="row descripcion">
    <div class="col-md-12 col-sm-12">
      <div  [innerHTML]="reglamento.descripcion"></div>
    </div>
  </div>
</div>
