<div id="container" class="col-sm-12 col-md-12 col-xs-12">
  <div class="row hidden-sm hidden-xs">
    <div *ngIf="idTorneo" class="col-sm-12 col-md-12 styles-background">
      <escudos [idTorneo]="idTorneo"></escudos>
    </div>
  </div>
  <div class="container">
      <header></header>
  </div>
  <div class="container">
    <seccion>
    </seccion>
  </div>
  <div class="container">
      <pie></pie>
  </div>
</div>
