<div class="container-fluid">
  <div class="row">
    <hr class="hr-text titulo" data-content="RESULTADOS">
  </div>
  <div class="row fechas">
    <div class="col-md-12 col-sm-12">
      <button type="submit" (click)="mostrarResultadosFecha(fecha, i)" class="btn btn-primary" *ngFor="let fecha of lsFechas; let i = index">
        {{i+1}} </button>
    </div>
  </div>

  <div class="row hidden-sm hidden-xs" *ngIf="fechaSeleccionada">
    <div class="row text-center">
      <span class="fecha">FECHA {{numeroFecha}} </span>
      <span class="dia"> {{diaVisual}} </span>
    </div>
    <div class="col-md-12 col-sm-12 partido">

      <li class="lista-partidos" *ngFor="let partido of lsPartidos">
        <div class="row">
          <div class="col-md-12 col-sm-12 partido">

            <div class="col-md-3 col-sm-3 text-center">
              <div class="goles">
                <div class="lista-goles" *ngFor="let gol of partido.golesLocal">
                  <span class="lista">
                    <img [src]="config.assetsUrl + '/logos/pelota-futbol.png'"> {{gol.jugador.apellido}}, {{gol.jugador.nombre}} </span>
                </div>
              </div>

              <div class="tarjetas">
                <div class="lista-goles" *ngFor="let sancion of partido.sancionesLocal">
                  <span class="lista">
                    <img [src]="config.assetsUrl + '/amarilla.png'" *ngIf="sancion.tipo.id == 1">
                    <img [src]="config.assetsUrl + '/roja.png'" *ngIf="sancion.tipo.id != 1"> {{sancion.jugador.apellido}}, {{sancion.jugador.nombre}} </span>
                </div>
              </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-5">
              <img class="img-responsive" [src]="config.imgUrl + partido.local.files[0].imagePath">
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2 text-center centro">
              <div class="row">
                <span class="resultado"> {{partido.golesLocal?.length}} - {{partido.golesVisitante?.length}} </span>
              </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-5">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante.files[0].imagePath">
            </div>

            <div class="col-md-3 col-sm-3 text-center">
              <div class="goles">
                <div class="lista-goles" *ngFor="let gol of partido.golesVisitante">
                  <span class="lista">
                    <img [src]="config.assetsUrl + '/logos/pelota-futbol.png'"> {{gol.jugador.apellido}}, {{gol.jugador.nombre}} </span>
                </div>
              </div>
              <div class="tarjetas">
                <div class="lista-goles" *ngFor="let sancion of partido.sancionesVisitante">
                  <span class="lista">
                    <img [src]="config.assetsUrl + '/amarilla.png'" *ngIf="sancion.tipo.id == 1">
                    <img [src]="config.assetsUrl + '/roja.png'" *ngIf="sancion.tipo.id != 1"> {{sancion.jugador.apellido}}, {{sancion.jugador.nombre}} </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </li>
    </div>
  </div>

  <div class="row hidden-md hidden-lg" *ngIf="fechaSeleccionada">
    <div class="row text-center">
      <span class="fecha">FECHA {{numeroFecha}} </span>
      <span class="dia"> {{diaVisual}} </span>
    </div>
    <div class="col-md-12 col-sm-12 partido">

      <li class="lista-partidos" *ngFor="let partido of lsPartidos">
        <div class="row">
          <div class="col-md-12 col-sm-12 partido">

            <div class="row table-row">
              <div class="col-xs-6 text-center">
                <div class="goles">
                  <div class="lista-goles" *ngFor="let gol of partido.golesLocal">
                    <span class="lista">
                      <img [src]="config.assetsUrl + '/logos/pelota-futbol.png'"> {{gol.jugador.apellido}}, {{gol.jugador.nombre}} </span>
                  </div>
                </div>

                <div class="tarjetas">
                  <div class="lista-goles" *ngFor="let sancion of partido.sancionesLocal">
                    <span class="lista">
                      <img [src]="config.assetsUrl + '/amarilla.png'" *ngIf="sancion.tipo.id == 1">
                      <img [src]="config.assetsUrl + '/roja.png'" *ngIf="sancion.tipo.id != 1"> {{sancion.jugador.apellido}}, {{sancion.jugador.nombre}} </span>
                  </div>
                </div>
              </div>


              <div class="col-xs-6 text-center">
                <div class="goles">
                  <div class="lista-goles" *ngFor="let gol of partido.golesVisitante">
                    <span class="lista">
                      <img [src]="config.assetsUrl + '/logos/pelota-futbol.png'"> {{gol.jugador.apellido}}, {{gol.jugador.nombre}} </span>
                  </div>
                </div>
                <div class="tarjetas">
                  <div class="lista-goles" *ngFor="let sancion of partido.sancionesVisitante">
                    <span class="lista">
                      <img [src]="config.assetsUrl + '/amarilla.png'" *ngIf="sancion.tipo.id == 1">
                      <img [src]="config.assetsUrl + '/roja.png'" *ngIf="sancion.tipo.id != 1"> {{sancion.jugador.apellido}}, {{sancion.jugador.nombre}} </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-5">
              <img class="img-responsive" [src]="config.imgUrl + partido.local.files[0].imagePath">
            </div>

            <div class="col-xs-2 text-center centro">
              <div class="row">
                <span class="resultado"> {{partido.golesLocal?.length}} - {{partido.golesVisitante?.length}} </span>
              </div>
            </div>

            <div class="col-xs-5">
              <img class="img-responsive" [src]="config.imgUrl + partido.visitante.files[0].imagePath">
            </div>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
