button {
  margin-top:3em;
}

.planilla {
  margin-bottom: 30px;
  visibility: hidden;
  display: none;
}

.tamaño {
  visibility: hidden;
}

.declaracion {
  border: 3px solid black;
  margin: 15px;
}

.titulo {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.texto-declaracion {
  font-size: 10px;
  text-align: justify;
  border-bottom: 1px solid black;
  margin-left: 2px;
}

.datos {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.jugadores {
  margin-left: 15px;
  margin-right: 15px;
}

/* .jugador {
  width: 331px;
  height: 100px;
  margin-bottom: 10px;
} */

.jugador {
  width: 100%;
  height: 132px;
}

.foto {
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.foto img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.texto-imagen {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  /*   background-color: rgba(222, 222, 222, 0.2);*/
  background-color: rgba(0, 0, 0, 0.2);
  width: 100px;
}

.llenado {
  background-color: rgb(222, 222, 222);
  height: 100px;
}

.llenado-dt {
  background-color: rgb(224, 200, 138);
  height: 100px;
}

.resultado {
  border: 2px solid rgb(170, 145, 93);
  height: 100px;
  background-color: rgb(222, 222, 222);
}

.num {
  font-weight: bold;
  text-align: left;
  font-size: 12px;
  height: 22px;
}

.firma {
  font-weight: bold;
  text-align: left;
  font-size: 12px;
  text-align: center;
  height: 34px;
}

.sancion {
  height: 22px;
}

.sancion-dt {
  height: 22px;
  background-color: rgb(224, 200, 138);
}

.amarilla {
  border-bottom: 2px solid rgb(170, 145, 93);
  border-top: 2px solid rgb(170, 145, 93);
  background-color: rgb(220, 200, 44);
  height: 22px;
}

.amarilla-dt {
  border-bottom: 2px solid rgb(170, 145, 93);
  border-top: 2px solid rgb(170, 145, 93);
  background-color: rgb(224, 200, 138);
  height: 22px;
}

.roja {
  border-bottom: 2px solid rgb(170, 145, 93);
  background-color: rgb(190, 5, 24);
  height: 22px;
}

.gol {
  height: 34px;
}

.gol img {
  max-height: 30px;
  max-width: auto;
  margin-left: 10px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.gol-dt {
  height: 30px;
  background-color: rgb(224, 200, 138);
}

.footer {
  border: 3px solid black;
  margin: 15px;
}

span {
  font-weight: bold;
}

.edad {
  font-size: 2px;
  font-weight: bold;
  text-align: left;
  text-align: center;
}