.ui-carousel{
  background-color: black;
  border:none;
  width: 100%;
}

.ui-carousel-item{
  background-color: black;
  border:none;
}
.ui-carousel-items{
  border:none;
  background-color: black;
}

.images {
  display: block;
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.margin-name {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0px;
}

.margin-login {
  margin-top: 10px;
  padding: 0;
  float:left;
  width: 180px;
}

.img-thumbnail {
  background-color: transparent;
  border: 0;
  box-shadow: 0;
  border-radius: 0;
}

.inline-display {
  display: inline-block;
}

.images img:hover {
  transform: scale(1.25);
}

.images img {
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  object-fit: scale-down;
}