<div class="row" class="montserrat-font">
  <div *ngIf="nombre != null" class="col-sm-2 col-md-2 margin-name">
    {{nombre.toUpperCase()}} LEAGUE
  </div>
  <div *ngIf="lsEquipos && lsEquipos.length >= 20" id="header" style="padding:0" class="col-sm-8 col-md-8">
    <!-- You can use owl-carousel selector to include its component -->
    <owl-carousel [options]="{items: 20, dots: false, navigation: false, autoplay:true, autoplayTimeout:2500, loop:true, autoplayHoverPause:true}"
      [items]="lsEquipos" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let equipo of lsEquipos;let i = index">
        <div *ngIf="equipo && equipo.files[0].thumbPath" class="images" (click)="verEquipo(equipo.idEquipo)">
          <img [src]="config.imgUrl + equipo.files[0].thumbPath" class="img-thumbnail" title="{{equipo.nombre}}">
        </div>
      </div>
    </owl-carousel>
  </div>
  <div *ngIf="lsEquipos && lsEquipos.length < 20" id="header" style="padding:0" class="col-sm-8 col-md-8">
    <!-- You can use owl-carousel selector to include its component -->
    <owl-carousel [options]="{items: 20, dots: false, navigation: false}" [items]="lsEquipos" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let equipo of lsEquipos;let i = index">
        <div *ngIf="equipo && equipo.files[0].thumbPath" class="images" (click)="verEquipo(equipo.idEquipo)">
          <img [src]="config.imgUrl + equipo.files[0].thumbPath" class="img-thumbnail" title="{{equipo.nombre}}">
        </div>
      </div>
    </owl-carousel>
  </div>
  <div class="col-sm-2 col-md-2 margin-login">
    <login></login>
  </div>
</div>
