<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeModificacion()">Modificación</a>
  </li>
</ul>
<div class="flex-item">
  <form #horarioForm="ngForm" name="horarioForm">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h4>
          Horarios Fijos
        </h4>
      </div>
      <div class="col-md-8 col-sm-8">
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="form-group has-feedback">
          <label for="nombre" class="control-label">Inicio</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
              </span>
              <input [(ngModel)]="horario.inicio" name="inicio" required class="form-control" type="time">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="form-group has-feedback">
          <label class="control-label">Fin</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
              </span>
              <input [(ngModel)]="horario.fin" name="fin" required class="form-control" type="time">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="form-group has-feedback">
          <label class="control-label">Turno</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
              </span>
              <select [(ngModel)]="horario.turno.descripcion" name="turno" required class="form-control selectpicker" (ngModelChange)="onTurnoChange($event)"
                required=''>
                <option value="null">Elija su opción</option>
                <option *ngFor="let turno of turnos">{{turno.descripcion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-3">
        <button [disabled]="!horarioForm.valid" (click)="registrarHorario()" type="button" class="btn btn-primary">Registrar</button>
      </div>
    </div>
  </form>
</div>
