/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/material/material-dark-theme.css';
@import '~@ngx-share/button/styles/themes/modern/modern-light-theme.css';
@import "~@fortawesome/fontawesome-free-webfonts/css/fa-brands.css";
@import "~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css";
@import "~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css";
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.HyperlinkInterno {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.HyperlinkInterno:visited {
  color: rgb(118, 104, 73);
  text-decoration: none;
}

.HyperlinkInterno:hover {
  color: rgb(170, 145, 93);
  text-decoration: underline;
  font-weight: bold;
}

.HyperlinkInterno:active {
  color: rgb(170, 145, 93);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.multiselect-class-equipos {
  color: #ccc;
}

.multiselect-class-equipos .c-token {
  background: rgb(170, 145, 93) !important;
}

.multiselect-class-equipos .pure-checkbox label::before {
  border-color: rgb(170, 145, 93) !important;
}

.multiselect-class-equipos .pure-checkbox input[type="checkbox"]:checked+label:before {
  background: rgb(170, 145, 93) !important;
}

.section-style {/*
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row;
   justify-content: space-around;
 */  background-color: white;
}
li {
  list-style-type: none;
}
.flex-item {
  padding: 5px;
  margin: 10px;
  word-break: break-all;
}

/* .container-fluid {
  max-width: 80em;
}
 */
.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}
