<!-- Button to Open the Modal -->
<a *ngIf="user == null" class="loginButton" data-toggle="modal" data-target="#loginModal">
  INGRESAR
</a>
<a *ngIf="user != null" class="loginButton" (click)="logOut()">
  {{user.perfil.n_perfil.toUpperCase()}} | SALIR
</a>

<!-- The Modal -->
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
          <span aria-hidden="true" class="glyphicon glyphicon-remove">
          </span>
        </button>
        <h3 class="modal-title" id="loginModal  Title">Iniciar Sesión</h3>
      </div>
      <div class="modal-body">
        <div class="form-group has-feedback">
          <label for="nombre" class="control-label">Usuario</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input [(ngModel)]="usuario.n_usuario" name="n_usuario" required #n_usuario='ngModel' class="form-control" type="text" required="">
            </div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="nombre" class="control-label">Contraseña</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <input [(ngModel)]="usuario.password" name="password" required #password='ngModel' class="form-control" type="password" required="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer montserrat-font">
        <button (click)="login()" type="button" class="btn btn-primary">Ingresar</button>
      </div>
    </div>
  </div>
</div>