@import url(http://fonts.googleapis.com/css?family=Roboto);

.login {
  background-color: #fff;
  margin-right: 0.5em;  
  display: block;
  float: right;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 16px;
  padding: 6px;
  text-align: center;
  color: black;   
  font-family: roboto;
} 

.login:hover{
    color: rgb(170, 145, 93);
    text-decoration: underline;
    font-weight: bold;
}

.login:active {
  color: rgb(170, 145, 93);
  text-decoration: none;
}

h3{
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.modal-title{
  max-width: 350px;
  width: 80% !important;
  margin: 0 auto;
  overflow: hidden;
  color:black;
  font-family: roboto;
}

.modal-dialog{
  font-family: roboto;
  color:black;
}

.btn{
  width: 100%;
}

.loginButton{
  color:white;
  display: block;
  padding:0;
  float:right;
  font-size:12px;
  cursor: pointer;
}