<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " (click)="routeAlta()">Alta</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" (click)="routeModificacion()">Modificación</a>
    </li>
</ul>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="form-group has-feedback">
                <label class="control-label">Fecha</label>
                <div class="inputGroupContainer">
                    <div class="input-group date">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <input [(ngModel)]="fecha.fecha" name="fecha" class="form-control" (ngModelChange)="obtenerPartido()" type="date" />
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!checked" class="col-md-3 col-sm-3">
            <div class="form-group has-feedback">
                <label class="control-label">Zona</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select [(ngModel)]="zona" name="zona" required class="form-control selectpicker" (ngModelChange)="obtenerEquipos(zona);obtenerPartido();">
                            <option value="null">Elija su opción</option>
                            <option *ngFor="let zonas of lsZonas" [ngValue]="zonas">{{zonas.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!(lsEquipos) || lsEquipos.length > 0" class="col-md-3 col-sm-3">
            <div class="form-group has-feedback">
                <label class="control-label">Equipos</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select [(ngModel)]="equipo" name="equipo" required class="form-control" (ngModelChange)="obtenerPartido()">
                            <option value="null">Elija su opción</option>
                            <option *ngFor="let equipo of lsEquipos" [ngValue]="equipo">{{equipo.nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <input type="checkbox" [(ngModel)]="checked" (change)="checkValue(checked ? true : false);"> Interzonal
        </div>
    </div>

    <div class="row">
        <ngx-section class="shadow">
            <div>
                <div class="row" *ngIf="partido != undefined && partido != null && partido.idPartido > 0">
                    <div>
                        <hr class="hr-text textTitle" data-content="Partido">
                    </div>
                    <div class="enfrentamiento">
                        <div class="col-md-12 col-sm-12">
                            <div class="row" style="margin-left:20%;">
                                <div class="col-md-4 col-sm-4">
                                    <div class="textEquipo"> Local</div>
                                    <ngx-dnd-container [model]="partido.local" dropZone="multiple-target-a" [moves]="false" [copy]="false" [dropZones]="['multiple-target-b','multiple-equipos', 'multiple-target-a']"
                                        [removeOnSpill]="true" (drop)="verificacionComponentes()">
                                        <ng-template let-item="model">
                                            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
                                            <div class="row">{{item.nombre}} </div>
                                        </ng-template>
                                    </ngx-dnd-container>
                                </div>
                                <div class="col-md-1 col-sm-1 randomResult">
                                    <span>{{partido.golesLocal.length}}</span>
                                </div>
                                <div class="col-md-1 col-sm-1 random">
                                    <span>VS</span>
                                </div>
                                <div class="col-md-1 col-sm-1 randomResult">
                                    <span>{{partido.golesVisitante.length}}</span>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="textEquipo">Visitante</div>
                                    <ngx-dnd-container [model]="partido.visitante" dropZone="multiple-target-b" [moves]="false" [copy]="false" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-equipos']"
                                        [removeOnSpill]="true" (drop)="verificacionComponentes()">
                                        <ng-template let-item="model">
                                            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
                                            <div class="row">{{item.nombre}} </div>
                                        </ng-template>
                                    </ngx-dnd-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
                                    <div class="form-group has-feedback">
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-list"></i>
                                                </span>
                                                <select [(ngModel)]="jugadorLocal" name="jugadoresLocal" required class="form-control" (change)="onChangeLocal(jugadorLocal, partido)">
                                                    <option value=" ">Elija su opción</option>
                                                    <option *ngFor="let jugador of partido.local[0].lsJugadores;" [ngValue]="jugador">{{jugador.apellido}}, {{jugador.nombre}}</option>
                                                </select>
                                                <div [ngClass]="(partido.desImagenes)?'avoid-clicks':''" class="input-group-btn margen imgEffect">
                                                    <img (click)="golLocal(partido)" [src]="config.assetsUrl + '/pelota.png'" height="34" width="34">
                                                    <img (click)="amarillaLocal(partido)" id="amarilla" [src]="config.assetsUrl + '/amarilla.png'">
                                                    <img (click)="fechasPorZonaLocal(partido)" id="roja" [src]="config.assetsUrl + '/roja.png'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="form-group has-feedback">
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-list"></i>
                                                </span>
                                                <select [(ngModel)]="jugadorVisitante" name="jugadoresVisitante" required class="form-control" (change)="onChangeVisitante(jugadorVisitante, partido)">
                                                    <option value=" ">Elija su opción</option>
                                                    <option *ngFor="let jugador of partido.visitante[0].lsJugadores;" [ngValue]="jugador">{{jugador.apellido}}, {{jugador.nombre}}</option>
                                                </select>
                                                <div [ngClass]="(partido.desImagenesV)?'avoid-clicks':''" class="input-group-btn margen imgEffect">
                                                    <img (click)="golVisitante(partido)" [src]="config.assetsUrl + '/pelota.png'" height="34" width="34">
                                                    <img (click)="amarillaVisitante(partido)" id="amarillaV" [src]="config.assetsUrl + '/amarilla.png'">
                                                    <img (click)="fechasPorZonaVisitante(partido)" id="rojaV" [src]="config.assetsUrl + '/roja.png'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div [style.visibility]="partido.jugadorLocal.acumAmarillas > 0  ? 'visible' : 'hidden'" class="col-md-offset-2 col-md-1 col-sm-offset-2 col-sm-1">
                                    <img id="amarillaL" [src]="config.assetsUrl + '/amarilla.png'"> {{partido.jugadorLocal.acumAmarillas}}
                                </div>
                                <div [style.visibility]="partido.jugadorLocal.acumRojas > 0 ? 'visible' : 'hidden'" class="col-md-1 col-sm-1">
                                    <img id="rojaL" [src]="config.assetsUrl + '/roja.png'"> {{partido.jugadorLocal.acumRojas}}
                                </div>
                                <div [style.visibility]="partido.jugadorVisitante.acumAmarillas > 0  ? 'visible' : 'hidden'" class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1">
                                    <img id="amarillaL" [src]="config.assetsUrl + '/amarilla.png'"> {{partido.jugadorVisitante.acumAmarillas}}
                                </div>
                                <div [style.visibility]="partido.jugadorVisitante.acumRojas > 0 ? 'visible' : 'hidden'" class="col-md-1 col-sm-1">
                                    <img id="rojaL" [src]="config.assetsUrl+ '/roja.png'"> {{partido.jugadorVisitante.acumRojas}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm 5 col-md-offset-1 col-sm-offset-1">
                                    <div class="row">
                                        <div [style.visibility]="partido.golesLocal.length > 0 ? 'visible' : 'hidden'" class="col-md-9 col-sm-9">
                                            <mat-table [dataSource]="dataSourceGLocal" matSort>

                                                <!-- ID Column -->
                                                <ng-container matColumnDef="apellido">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.jugador.apellido}} </mat-cell>
                                                </ng-container>

                                                <!-- Progress Column -->
                                                <ng-container matColumnDef="gol">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Gol </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> 1 </mat-cell>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="id_gol">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <i class="glyphicon glyphicon-trash" (click)="eliminarGolLocal(row.id_gol,row.jugador.id_jugador)"></i>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumnsG"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumnsG">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br>
                                        <div [style.visibility]="partido.sancionesLocal.length > 0 ? 'visible' : 'hidden'" class="col-md-9 col-sm-9">
                                            <mat-table [dataSource]="dataSourceSLocal" matSort>

                                                <!-- ID Column -->
                                                <ng-container matColumnDef="apellido">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.jugador.apellido}} </mat-cell>
                                                </ng-container>

                                                <!-- Progress Column -->
                                                <ng-container matColumnDef="nombre">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sanción </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.tipo_sancion.descripcion}} </mat-cell>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="id_sancion">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <i class="glyphicon glyphicon-trash" (click)="eliminarSancionLocal(row.id_sancion,row.jugador.id_jugador)"></i>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm 5">
                                    <div class="row">
                                        <div [style.visibility]="partido.golesVisitante.length > 0 ? 'visible' : 'hidden'" class="col-md-9 col-sm-9">
                                            <mat-table [dataSource]="dataSourceGVisitante" matSort>

                                                <!-- ID Column -->
                                                <ng-container matColumnDef="apellido">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.jugador.apellido}} </mat-cell>
                                                </ng-container>

                                                <!-- Progress Column -->
                                                <ng-container matColumnDef="gol">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Gol </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> 1 </mat-cell>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="id_gol">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <i class="glyphicon glyphicon-trash" (click)="eliminarGolVisitante(row.id_gol,row.jugador.id_jugador)"></i>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumnsG"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumnsG">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br>
                                        <div [style.visibility]="partido.sancionesVisitante.length > 0 ? 'visible' : 'hidden'" class="col-md-9 col-sm-9">
                                            <mat-table [dataSource]="dataSourceSVisitante" matSort>

                                                <!-- ID Column -->
                                                <ng-container matColumnDef="apellido">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.jugador.apellido}} </mat-cell>
                                                </ng-container>

                                                <!-- Progress Column -->
                                                <ng-container matColumnDef="nombre">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sanción </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.tipo_sancion.descripcion}} </mat-cell>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="id_sancion">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <i class="glyphicon glyphicon-trash" (click)="eliminarSancionVisitante(row.id_sancion,row.jugador.id_jugador)"></i>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-section>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <button [disabled]="partido == undefined || partido.idPartido == 0 || partido.idPartido == null" (click)="modificarResultado()"
                type="button" class="btn btn-primary">Modificar</button>
        </div>
    </div>
</div>
