<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeModificacion()">Modificación</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeEliminar()">Eliminación</a>
  </li>
</ul>
<div class="row">
  <div class="col-md-3 col-sm-3">
    <div class="form-group has-feedback">
      <label *ngIf="idFase !=3" class="control-label">Cantidad Zonas (*)</label>
      <label *ngIf="idFase ==3" class="control-label">Cantidad Playoff (*)</label>
      <div class="inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-home"></i>
          </span>
          <input [(ngModel)]="cantidadZonas" name="cantidadZonas" required class="form-control" type="number" (blur)="armarZonas()">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <ngx-section class="shadow">
    <div>
      <div *ngIf="equipos.length > 0">
        <div>
          <hr class="hr-text textTitle" data-content="Equipos">
        </div>
        <ngx-dnd-container [model]="equipos" dropZone="multiple-equipos" [copy]="false" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          (drop)="zona(equipos)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="cantidadZonas >= 1" fxFlex="25%">
        <div>
          <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff A">
          <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona A">
        </div>
        <ngx-dnd-container [model]="zonaA" dropZone="multiple-target-a" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" (drop)="zona(zonaA)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="cantidadZonas >= 2" fxFlex="25%">
        <div>
          <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff B">
          <hr *ngIf="idFase !=3" class="hr-text textTitle" data-content="Zona B">
        </div>
        <ngx-dnd-container [model]="zonaB" dropZone="multiple-target-b" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" (drop)="zona(zonaB)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="cantidadZonas >= 3" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff C">
            <hr *ngIf="idFase !=3" class="hr-text textTitle" data-content="Zona C">
        </div>
        <ngx-dnd-container [model]="zonaC" dropZone="multiple-target-c" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" (drop)="zona(zonaC)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="cantidadZonas >= 4" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff D">
            <hr *ngIf="idFase !=3" class="hr-text textTitle" data-content="Zona D">
        </div>
        <ngx-dnd-container [model]="zonaD" dropZone="multiple-target-d" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" (drop)="zona(zonaD)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="cantidadZonas >= 5" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff E">
            <hr *ngIf="idFase !=3" class="hr-text textTitle" data-content="Zona E">
        </div>
        <ngx-dnd-container [model]="zonaE" dropZone="multiple-target-e" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" (drop)="zona(zonaE)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="cantidadZonas >= 6" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff F">
            <hr *ngIf="idFase !=3" class="hr-text textTitle" data-content="Zona F">
        </div>
        <ngx-dnd-container [model]="zonaF" dropZone="multiple-target-f" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" (drop)="zona(zonaF)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="cantidadZonas >= 7" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff G">
            <hr *ngIf="idFase !=3" class="hr-text textTitle" data-content="Zona G">
        </div>
        <ngx-dnd-container [model]="zonaG" dropZone="multiple-target-g" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" (drop)="zona(zonaG)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="cantidadZonas >= 8" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff H">
            <hr *ngIf="idFase !=3" class="hr-text textTitle" data-content="Zona H">
        </div>
        <ngx-dnd-container [model]="zonaH" dropZone="multiple-target-h" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" (drop)="zona(zonaH)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>

    </div>
  </ngx-section>
</div>
<div class="row">
  <div class="col-md-6">
    <button (click)="comprobacionZonasVacias()" *ngIf="!btnHide" type="button" class="btn btn-primary">Registrar</button>
  </div>
</div>
