<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="routeAlta()">Alta</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" (click)="routeModificacion()">Modificación</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="routeEliminar()">Eliminación</a>
  </li>
</ul>
<div class="row">
  <ngx-section class="shadow">
    <div>
      <div *ngIf="equiposSinZona.length > 0">
        <div>
          <hr *ngIf="idFase !=3" class="hr-text textTitle" data-content="Equipos sin zona">
          <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Equipos sin Playoff">
        </div>
        <ngx-dnd-container [model]="equiposSinZona" dropZone="multiple-equipos" [copy]="false" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          (drop)="zona(equiposSinZona)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="zonaA.length >0" fxFlex="25%">
        <div>
          <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff A">
          <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona A">
        </div>
        <ngx-dnd-container [model]="zonaA" dropZone="multiple-target-a" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" [moves]="zona(zonaA)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="zonaB.length >0" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff B">
            <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona B">
        </div>
        <ngx-dnd-container [model]="zonaB" dropZone="multiple-target-b" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" [moves]="zona(zonaB)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="zonaC.length >0" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff C">
            <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona C">
        </div>
        <ngx-dnd-container [model]="zonaC" dropZone="multiple-target-c" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" [moves]="zona(zonaC)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="zonaD.length >0" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff D">
            <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona D">
        </div>
        <ngx-dnd-container [model]="zonaD" dropZone="multiple-target-d" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" [moves]="zona(zonaD)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="zonaE.length >0" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff E">
            <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona E">
        </div>
        <ngx-dnd-container [model]="zonaE" dropZone="multiple-target-e" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" [moves]="zona(zonaE)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="zonaF.length >0" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff F">
            <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona F">
        </div>
        <ngx-dnd-container [model]="zonaF" dropZone="multiple-target-f" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" [moves]="zona(zonaF)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="zonaG.length >0" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff G">
            <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona G">
        </div>
        <ngx-dnd-container [model]="zonaG" dropZone="multiple-target-g" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" [moves]="zona(zonaG)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div *ngIf="zonaH.length >0" fxFlex="25%">
        <div>
            <hr *ngIf="idFase ==3" class="hr-text textTitle" data-content="Playoff H">
            <hr *ngIf="idFase != 3" class="hr-text textTitle" data-content="Zona H">
        </div>
        <ngx-dnd-container [model]="zonaH" dropZone="multiple-target-h" [dropZones]="['multiple-target-a', 'multiple-target-b','multiple-target-c','multiple-target-d','multiple-target-e','multiple-target-f','multiple-target-g','multiple-target-h','multiple-equipos']"
          [removeOnSpill]="true" [moves]="zona(zonaH)">
          <ng-template let-item="model">
            <img [src]="config.imgUrl + item.imagePath" class="img-thumbnail imgCustom" alt="">
            <div class="row">{{item.nombre}} </div>
          </ng-template>
        </ngx-dnd-container>
      </div>

    </div>
  </ngx-section>
</div>
<div class="row">
  <div class="col-md-6">
    <button (click)="modificarZona()" [disabled]="!lsZonas.length" type="button" class="btn btn-primary">Actualizar</button>
  </div>
</div>
